<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApbYVeoYjLkCdrjyXcqV1HquRrPpS3wYI</string>
	<key>GCM_SENDER_ID</key>
	<string>854997401829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tramitesApp</string>
	<key>PROJECT_ID</key>
	<string>tramitesabogados-a6638</string>
	<key>STORAGE_BUCKET</key>
	<string>tramitesabogados-a6638.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854997401829:ios:968c167a138b9cef0fd40c</string>
</dict>
</plist>